POSTGRES_USER=user
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_DB=turismo_db
POSTGRES_PORT=5432
API_PORT=8000
OLLAMA_PORT=11434
OLLAMA_MODEL=llama3.2
EMBEDDING_MODEL=intfloat/multilingual-e5-large
KAFKA_PORT=9092
KAFKA_UI_PORT=8080
KAFKA_MAX_POLL_INTERVAL_MS=7200000
KAFKA_SESSION_TIMEOUT_MS=45000
KAFKA_PLACE_PARTITIONS=8
